<!-- USE THIS FILE TO WRITE TRANSVERAL ELEMENTS E.G. NAVS OR BUTTONS THAT APPEAR THROUGHOUT SITE -->

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" > 
  <head>
    <title>What The Block</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-top w3-large w3-animate-left" style="display:none;z-index:2;max-width:25%;min-width:200px;background:black;color:yellow" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button" style="color:yellow"><b>X</b></a>
  <a href="http://whattheblock.org/#approach"  onclick="w3_close()" class="w3-bar-item menu-button" style="color:yellow">Approach</a>
  <a href="http://whattheblock.org/#services" onclick="w3_close()" class="w3-bar-item menu-button" style="color:yellow">Services</a>
  <a href="http://whattheblock.org/#people" onclick="w3_close()" class="w3-bar-item menu-button" style="color:yellow">People</a>
  <a href="http://whattheblock.org/#contact" onclick="w3_close()" class="w3-bar-item menu-button" style="color:yellow" id="contact">Contact Us</a>
</nav>


<!-- header -->
  	<header class="row">
    <div class="col-4 links"><button id="singlebutton" name="singlebutton" class="btn menu" 
 	onclick="w3_open()">Menu</button></div>
  	<div class="col-4 links">
  	<%= link_to root_path do %><img class ="logo" src="http://whattheblock.org/Asset_1.png"><%end%>
  	</div>
  	<div class="col-4 links"><%= link_to 'Contribute', new_quote_path %></div>
 	</header>
 	<hr />
    <br class="clear" />
<!-- page title -->
    <div class="slogan col-12">What The Block do<b><i> Humans</i></b> think about <b><i>Blockchain</i></b>?</div>
   	<div class="container">
<!-- error handling -->
 	<% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe%>
    </div>
  <% end %>
    <%= yield %>
  	
  	</div>
<!-- load button -->
	<div class="col-md-12 text-center" style="margin-top: 50px"> 
    <%= link_to root_path do %>
    <button id="singlebutton" name="singlebutton" class="btn sharp">Load More</button> 
    <%end%>
	</div>
<!-- footer -->
	<div class="footer">
  		<div class="container">
  			<div class="row">
  			<p class="footer-text">Copyright 2018: WhatTheBlock.org</p>
  			</div>
  		</div>
  	</div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

  </body>
</html>
